@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

/* Reset de margens e paddings */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Inclui bordas e paddings no cÃ¡lculo do tamanho total */
}


/* Estilo para a barra de rolagem no Chrome e outros navegadores Webkit */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 12px;
    /* Largura da barra de rolagem */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: #e4dbb2;
    /* Cor do fundo da barra de rolagem */
    border-radius: 10px;
    /* Bordas arredondadas */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #786f44;
    /* Cor do controle da barra de rolagem */
    border-radius: 10px;
    /* Bordas arredondadas */
    border: 3px solid #e4dbb2;
    /* EspaÃƒÂ§o entre o controle e o fundo */
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
    background-color: #ff6600;
    /* Cor ao passar o mouse */
}

/* Para navegadores que suportam scrollbar-gutter */
body {
    scrollbar-gutter: stable;
    /* Garante que a barra de rolagem nÃƒÂ£o afete o layout */
}

/* Estilo para Firefox */
body {
    scrollbar-width: thin;
    /* Define a largura da barra de rolagem */
    scrollbar-color: #786f44 #e4dbb2;
    /* Cor do controle e do fundo */
}

/* Cor de fundo para o corpo */
body {
    background-color: #786f44;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    /* Permite que o corpo da pÃƒÂ¡gina role */
    padding-bottom: 20px;
    padding-top: 130px;
    /* Ajuste para compensar a altura do cabeÃƒÂ§alho */
}

/* CabeÃƒÂ§alho fixo no topo */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #e4dbb2;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-bottom: 2px solid #ff6600;
    box-shadow: 0 6px 9px rgb(0 0 0 / 35%);
}


.header-bg {
    position: absolute;
    /* Para que a imagem fique atrás dos outros elementos */
    top: 0;
    left: 0;
    width: 100%;
    /* Faz a imagem cobrir toda a largura do cabeçalho */
    height: 100%;
    /* Faz a imagem cobrir toda a altura do cabeçalho */
    object-fit: cover;
    /* Garante que a imagem se ajuste proporcionalmente */
    opacity: 0.3;
    /* Define a transparência da imagem */
    z-index: 1;
    /* Define que a imagem fique atrás dos ícones e da descrição */
}

.header .logo,
.header .description,
.header .social-icons {
    position: relative;
    /* Garante que esses elementos fiquem na frente da imagem */
    z-index: 2;
    /* Coloca esses elementos acima da imagem */
}

/* Logo */
.header .logo img {
    height: 85px;
    margin-right: 20px;
}


/* ÃƒÂcones sociais no canto superior direito */
.social-icons {
    display: flex;
    gap: 15px;
    position: absolute;
    /* Fixa os ÃƒÂ­cones no canto superior direito */
    right: 10px;
    /* Fixa os ÃƒÂ­cones no canto direito */
    z-index: 5;
    /* Garante que os ÃƒÂ­cones fiquem acima de outros elementos */

}

.icon img {
    width: 4.5vw;
    /* Ajusta a imagem para preencher o tamanho do ÃƒÂ­cone */
    height: 4.5vw;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
    /* Efeito ao passar o mouse */
}

/* AnimaÃƒÂ§ÃƒÂ£o para exibir os elementos apÃƒÂ³s a animaÃƒÂ§ÃƒÂ£o inicial */
.header.show {
    opacity: 1;
    transform: translateY(0);
    /* Elementos deslizam para baixo */
}

.description.show,
.data-container.show {
    opacity: 1;
}

.container {
    position: fixed;
    /* Fixa a posiÃƒÂ§ÃƒÂ£o na tela */
    top: 50%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta a origem para o centro */
    width: 25vw;
    /* Largura responsiva */
    max-width: 720px;
    /* Limita a largura mÃƒÂ¡xima */
    height: auto;
    /* Ajusta altura proporcionalmente */
    aspect-ratio: 720 / 497;
    /* MantÃƒÂ©m proporÃƒÂ§ÃƒÂ£o */
    overflow: visible;
    /* Permite elementos saÃƒÂ­rem do contÃƒÂªiner */
    z-index: 10;
    /* Garante que fique acima de outros elementos */
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
}

.box-image {
    z-index: 4;
    /* Valor aumentado para garantir que fique acima */
}

.balloon-green {
    z-index: 3;
    /* Valor menor para garantir que fique abaixo da caixa */
}

.den-image,
.box-image,
.lid-image {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    opacity: 1;
    /* ComeÃƒÂ§am visÃƒÂ­veis */
    transition: opacity 2s ease-out;
    /* TransiÃƒÂ§ÃƒÂ£o suave de opacidade */
}

.lid-image {
    top: 0;
    z-index: 4;
    animation: lidAnimation 3s ease-in-out forwards;
}

@keyframes lidAnimation {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(0, -10%) rotate(0deg);
    }

    80% {
        transform: translate(-40%, -10%) rotate(0deg);
    }

    100% {
        transform: translate(-25%, -10%) rotate(-45deg);
    }
}

.balloon-green,
.balloon-beige {
    width: 100%;
    position: absolute;
    bottom: -40%;
    /* Inicialmente fora da caixa */
    left: 5%;
}

.balloon-green {
    z-index: 2;
    clip-path: inset(0 0 0 0);
    /* Sem corte */
}

.balloon-beige {
    z-index: 1;
    opacity: 0;
    /* InvisÃƒÂ­vel atÃƒÂ© comeÃƒÂ§ar a animaÃƒÂ§ÃƒÂ£o */
}

@keyframes balloonGreenRise {
    0% {
        bottom: -20%;
        opacity: 1;
    }

    80% {
        clip-path: inset(90% 0 0 0);
    }

    100% {
        bottom: 100%;
        opacity: 0;
    }
}

@keyframes balloonBeigeRise {
    0% {
        bottom: -20%;
        opacity: 1;
    }

    100% {
        bottom: 100%;
    }
}

.category-container {
    position: relative;
}

.description {
    font-family: 'Baloo 2', cursive, sans-serif;
}

/* DescriÃƒÂ§ÃƒÂ£o */
.description {
    font-weight: bold;
    max-width: 90%;
    /* Controla a largura para evitar quebras de linha muito cedo */
    width: auto;
    margin-left: 19%;
    /* Centraliza horizontalmente */
    margin-right: auto;
    /* Centraliza horizontalmente */
    text-align: center;
    /* Centraliza o texto */
    font-size: 3vw;
    color: #786f44;
    line-height: 1.5;
    white-space: nowrap;
    /* Impede quebras de linha no texto */
    overflow: hidden;
    /* Garante que o texto nÃƒÂ£o ultrapasse os limites do container */
    transition: opacity 1s ease-in;
}


/* Data Container */
.data-container {
    background-color: #e4dbb263;
    border-radius: 10px;
    max-width: 90%;
    /* Garante que os retÃƒÂ¢ngulos nÃƒÂ£o ultrapassem as bordas */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Garante que os itens ocupem a largura total */
    gap: 20px;
    padding: 10px;
    opacity: 0;
    /* ComeÃƒÂ§a invisÃƒÂ­vel */
    visibility: hidden;
    /* ComeÃƒÂ§a invisÃƒÂ­vel */
    transition: opacity 1s ease, visibility 0s ease 1s;
    /* Aparece suavemente apÃƒÂ³s a animaÃƒÂ§ÃƒÂ£o */
    position: relative;
    /* Garante que o topo ficarÃƒÂ¡ fixo conforme o conteÃƒÂºdo */
}


/* Ajuste no comportamento dos retÃƒÂ¢ngulos, removendo o espaÃƒÂ§amento fixo */
.data-rectangle {
    display: flex;
    /* Usa Flexbox */
    align-items: center;
    /* Centraliza verticalmente os elementos */
    justify-content: flex-start;
    /* Alinha os itens para comeÃ§ar pela esquerda */
    gap: 20px;
    /* EspaÃ§amento entre a imagem e o texto */
    padding: 15px;
    background-color: #e4dbb2;
    border: 2px solid #ff6600;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    /* Alinha o texto Ã  esquerda */
}

/* RetÃƒÂ¢ngulo de dados com um espaÃƒÂ§o dinÃƒÂ¢mico */
.data-container .data-rectangle:first-child {
    margin-top: 0;
}


.image-container {
    flex-shrink: 0;
    margin-right: 20px;
}

.data-image {
    width: 25%;
    max-width: 200px;
    /* Limita a largura da imagem */
    height: auto;
    /* MantÃ©m proporÃ§Ã£o */
    border: 2px solid #ff6600;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.text-container {
    flex: 1;
    /* Faz o texto ocupar o espaÃ§o restante */
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* EspaÃ§amento entre tÃ­tulo, texto e categoria */
}

/* TÃ­tulo */
.data-title {
    font-family: 'Comic Neue', cursive;
    font-size: 1.8rem;
    font-weight: bold;
    color: #054dc5;
    margin: 0;
}

/* Texto */
.data-text {
    font-family: 'Comic Neue', cursive;
    font-size: 1.6vw;
    color: #371d0c;
    margin: 0;
}

/* Categoria */
.data-category {
    font-family: 'Comic Neue', cursive;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ff6600;
    text-align: left;
    /* Alinha Ã  esquerda */
}

/* Estilos para esconder e mostrar elementos com animaÃƒÂ§ÃƒÂ£o */
.hidden {
    opacity: 0;
    /* ComeÃƒÂ§a invisÃƒÂ­vel */
    transform: translateY(-50px);
    /* Inicialmente fora da tela */
    visibility: hidden;
    /* Inicialmente invisÃƒÂ­vel */
    transition: opacity 0.8s ease, transform 0.8s ease, visibility 0s ease 0.8s;
    /* Controla visibilidade com delay */
}

.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

@media (max-width: 768px) {

    /* Cabeçalho fixo no topo */
    .header {
        display: flex;
        flex-direction: column; /* Elementos empilhados */
        align-items: center; /* Centraliza horizontalmente */
        justify-content: center; /* Centraliza verticalmente */
        position: fixed; /* Fixa no topo da tela */
        width: 100%; /* Ocupa toda a largura */
        height: 35vw; /* Define altura do cabeçalho */
        z-index: 1000; /* Garante que fique acima de outros elementos */
        padding: 3px;
    }

    .header-bg {
    opacity: 0.2;
    }

    /* Ícones de mídias sociais centralizados no topo */
    .header .social-icons {
        display: flex;
        left: 2px;
        justify-content: center; /* Centraliza os ícones */
        gap: 160px; /* Espaçamento entre os ícones */
        order: 1; /* Prioriza os ícones no topo */
        width: 100%; /* Garante que ocupe a largura total */
    }

    .header .social-icons .@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

/* Reset de margens e paddings */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Inclui bordas e paddings no cÃ¡lculo do tamanho total */
}


/* Estilo para a barra de rolagem no Chrome e outros navegadores Webkit */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 12px;
    /* Largura da barra de rolagem */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: #e4dbb2;
    /* Cor do fundo da barra de rolagem */
    border-radius: 10px;
    /* Bordas arredondadas */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #786f44;
    /* Cor do controle da barra de rolagem */
    border-radius: 10px;
    /* Bordas arredondadas */
    border: 3px solid #e4dbb2;
    /* EspaÃƒÂ§o entre o controle e o fundo */
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
    background-color: #ff6600;
    /* Cor ao passar o mouse */
}

/* Para navegadores que suportam scrollbar-gutter */
body {
    scrollbar-gutter: stable;
    /* Garante que a barra de rolagem nÃƒÂ£o afete o layout */
}

/* Estilo para Firefox */
body {
    scrollbar-width: thin;
    /* Define a largura da barra de rolagem */
    scrollbar-color: #786f44 #e4dbb2;
    /* Cor do controle e do fundo */
}

/* Cor de fundo para o corpo */
body {
    background-color: #786f44;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    /* Permite que o corpo da pÃƒÂ¡gina role */
    padding-bottom: 20px;
    padding-top: 130px;
    /* Ajuste para compensar a altura do cabeÃƒÂ§alho */
}

/* CabeÃƒÂ§alho fixo no topo */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #e4dbb2;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-bottom: 2px solid #ff6600;
    box-shadow: 0 6px 9px rgb(0 0 0 / 35%);
}


.header-bg {
    position: absolute;
    /* Para que a imagem fique atrás dos outros elementos */
    top: 0;
    left: 0;
    width: 100%;
    /* Faz a imagem cobrir toda a largura do cabeçalho */
    height: 100%;
    /* Faz a imagem cobrir toda a altura do cabeçalho */
    object-fit: cover;
    /* Garante que a imagem se ajuste proporcionalmente */
    opacity: 0.3;
    /* Define a transparência da imagem */
    z-index: 1;
    /* Define que a imagem fique atrás dos ícones e da descrição */
}

.header .logo,
.header .description,
.header .social-icons {
    position: relative;
    /* Garante que esses elementos fiquem na frente da imagem */
    z-index: 2;
    /* Coloca esses elementos acima da imagem */
}

/* Logo */
.header .logo img {
    height: 85px;
    margin-right: 20px;
}


/* ÃƒÂcones sociais no canto superior direito */
.social-icons {
    display: flex;
    gap: 15px;
    position: absolute;
    /* Fixa os ÃƒÂ­cones no canto superior direito */
    right: 10px;
    /* Fixa os ÃƒÂ­cones no canto direito */
    z-index: 5;
    /* Garante que os ÃƒÂ­cones fiquem acima de outros elementos */

}

.icon img {
    width: 4.5vw;
    /* Ajusta a imagem para preencher o tamanho do ÃƒÂ­cone */
    height: 4.5vw;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
    /* Efeito ao passar o mouse */
}

/* AnimaÃƒÂ§ÃƒÂ£o para exibir os elementos apÃƒÂ³s a animaÃƒÂ§ÃƒÂ£o inicial */
.header.show {
    opacity: 1;
    transform: translateY(0);
    /* Elementos deslizam para baixo */
}

.description.show,
.data-container.show {
    opacity: 1;
}

.container {
    position: fixed;
    /* Fixa a posiÃƒÂ§ÃƒÂ£o na tela */
    top: 50%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta a origem para o centro */
    width: 25vw;
    /* Largura responsiva */
    max-width: 720px;
    /* Limita a largura mÃƒÂ¡xima */
    height: auto;
    /* Ajusta altura proporcionalmente */
    aspect-ratio: 720 / 497;
    /* MantÃƒÂ©m proporÃƒÂ§ÃƒÂ£o */
    overflow: visible;
    /* Permite elementos saÃƒÂ­rem do contÃƒÂªiner */
    z-index: 10;
    /* Garante que fique acima de outros elementos */
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
}

.box-image {
    z-index: 4;
    /* Valor aumentado para garantir que fique acima */
}

.balloon-green {
    z-index: 3;
    /* Valor menor para garantir que fique abaixo da caixa */
}

.den-image,
.box-image,
.lid-image {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    opacity: 1;
    /* ComeÃƒÂ§am visÃƒÂ­veis */
    transition: opacity 2s ease-out;
    /* TransiÃƒÂ§ÃƒÂ£o suave de opacidade */
}

.lid-image {
    top: 0;
    z-index: 4;
    animation: lidAnimation 3s ease-in-out forwards;
}

@keyframes lidAnimation {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(0, -10%) rotate(0deg);
    }

    80% {
        transform: translate(-40%, -10%) rotate(0deg);
    }

    100% {
        transform: translate(-25%, -10%) rotate(-45deg);
    }
}

.balloon-green,
.balloon-beige {
    width: 100%;
    position: absolute;
    bottom: -40%;
    /* Inicialmente fora da caixa */
    left: 5%;
}

.balloon-green {
    z-index: 2;
    clip-path: inset(0 0 0 0);
    /* Sem corte */
}

.balloon-beige {
    z-index: 1;
    opacity: 0;
    /* InvisÃƒÂ­vel atÃƒÂ© comeÃƒÂ§ar a animaÃƒÂ§ÃƒÂ£o */
}

@keyframes balloonGreenRise {
    0% {
        bottom: -20%;
        opacity: 1;
    }

    80% {
        clip-path: inset(90% 0 0 0);
    }

    100% {
        bottom: 100%;
        opacity: 0;
    }
}

@keyframes balloonBeigeRise {
    0% {
        bottom: -20%;
        opacity: 1;
    }

    100% {
        bottom: 100%;
    }
}

.category-container {
    position: relative;
}

.description {
    font-family: 'Baloo 2', cursive, sans-serif;
}

/* DescriÃƒÂ§ÃƒÂ£o */
.description {
    font-weight: bold;
    max-width: 90%;
    /* Controla a largura para evitar quebras de linha muito cedo */
    width: auto;
    margin-left: 19%;
    /* Centraliza horizontalmente */
    margin-right: auto;
    /* Centraliza horizontalmente */
    text-align: center;
    /* Centraliza o texto */
    font-size: 3vw;
    color: #786f44;
    line-height: 1.5;
    white-space: nowrap;
    /* Impede quebras de linha no texto */
    overflow: hidden;
    /* Garante que o texto nÃƒÂ£o ultrapasse os limites do container */
    transition: opacity 1s ease-in;
}


/* Data Container */
.data-container {
    background-color: #e4dbb263;
    border-radius: 10px;
    max-width: 90%;
    /* Garante que os retÃƒÂ¢ngulos nÃƒÂ£o ultrapassem as bordas */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Garante que os itens ocupem a largura total */
    gap: 20px;
    padding: 10px;
    opacity: 0;
    /* ComeÃƒÂ§a invisÃƒÂ­vel */
    visibility: hidden;
    /* ComeÃƒÂ§a invisÃƒÂ­vel */
    transition: opacity 1s ease, visibility 0s ease 1s;
    /* Aparece suavemente apÃƒÂ³s a animaÃƒÂ§ÃƒÂ£o */
    position: relative;
    /* Garante que o topo ficarÃƒÂ¡ fixo conforme o conteÃƒÂºdo */
}


/* Ajuste no comportamento dos retÃƒÂ¢ngulos, removendo o espaÃƒÂ§amento fixo */
.data-rectangle {
    display: flex;
    /* Usa Flexbox */
    align-items: center;
    /* Centraliza verticalmente os elementos */
    justify-content: flex-start;
    /* Alinha os itens para comeÃ§ar pela esquerda */
    gap: 20px;
    /* EspaÃ§amento entre a imagem e o texto */
    padding: 15px;
    background-color: #e4dbb2;
    border: 2px solid #ff6600;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    /* Alinha o texto Ã  esquerda */
}

/* RetÃƒÂ¢ngulo de dados com um espaÃƒÂ§o dinÃƒÂ¢mico */
.data-container .data-rectangle:first-child {
    margin-top: 0;
}


.image-container {
    flex-shrink: 0;
    margin-right: 20px;
}

.data-image {
    width: 25%;
    max-width: 200px;
    /* Limita a largura da imagem */
    height: auto;
    /* MantÃ©m proporÃ§Ã£o */
    border: 2px solid #ff6600;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.text-container {
    flex: 1;
    /* Faz o texto ocupar o espaÃ§o restante */
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* EspaÃ§amento entre tÃ­tulo, texto e categoria */
}

/* TÃ­tulo */
.data-title {
    font-family: 'Comic Neue', cursive;
    font-size: 1.8rem;
    font-weight: bold;
    color: #054dc5;
    margin: 0;
}

/* Texto */
.data-text {
    font-family: 'Comic Neue', cursive;
    font-size: 1.6vw;
    color: #371d0c;
    margin: 0;
}

/* Categoria */
.data-category {
    font-family: 'Comic Neue', cursive;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ff6600;
    text-align: left;
    /* Alinha Ã  esquerda */
}

/* Estilos para esconder e mostrar elementos com animaÃƒÂ§ÃƒÂ£o */
.hidden {
    opacity: 0;
    /* ComeÃƒÂ§a invisÃƒÂ­vel */
    transform: translateY(-50px);
    /* Inicialmente fora da tela */
    visibility: hidden;
    /* Inicialmente invisÃƒÂ­vel */
    transition: opacity 0.8s ease, transform 0.8s ease, visibility 0s ease 0.8s;
    /* Controla visibilidade com delay */
}

.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

@media (max-width: 768px) {

    /* Cabeçalho fixo no topo */
    .header {
        display: flex;
        flex-direction: column; /* Elementos empilhados */
        align-items: center; /* Centraliza horizontalmente */
        justify-content: center; /* Centraliza verticalmente */
        position: fixed; /* Fixa no topo da tela */
        width: 100%; /* Ocupa toda a largura */
        height: 35vw; /* Define altura do cabeçalho */
        z-index: 1000; /* Garante que fique acima de outros elementos */
        padding: 3px;
    }

    .header-bg {
    opacity: 0.2;
    }

    /* Ícones de mídias sociais centralizados no topo */
    .header .social-icons {
        display: flex;
        left: 2px;
        justify-content: center; /* Centraliza os ícones */
        gap: 160px; /* Espaçamento entre os ícones */
        order: 1; /* Prioriza os ícones no topo */
        width: 100%; /* Garante que ocupe a largura total */
    }

    .header .social-icons .icon {
        
        width: 45px; /* Tamanho fixo dos ícones */
        height: 45px;
        transition: transform 0.3s ease; /* Animação suave */
    }

    .header .social-icons .icon img {
        margin: 7vw 0vw;
        width: 100%;
        height: 100%;
    }

    /* Logo no meio do espaçamento entre os ícones de mídias sociais */
    .header .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 10px;
        order: 2; /* Posiciona o logo abaixo dos ícones */
        margin: auto; /* Espaçamento em relação aos ícones */
    }

    .header .logo img {
        margin-top: -70%;
        width: 60px; /* Tamanho fixo da logo */
        height: auto; /* Mantém proporção */
    }

    /* Descrição abaixo da logo */
    .description {
        text-align: center;
        font-size: 5vw; /* Fonte responsiva */
        max-width: 90%; /* Limita a largura da descrição */
        color: #786f44; /* Cor do texto */
        margin: 1% ; /* Espaçamento dinâmico */
        order: 3; /* Posiciona a descrição abaixo da logo */
        top: -6%;
    }



    /* Ajusta os retÃ¢ngulos */
    .data-rectangle {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        text-align: center;
        gap: 30px;
    }

    .data-title {
        order: 1;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .data-text {
        order: 2;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .data-image {
        order: 3;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .data-category {
        order: 4;
        font-size: 0.9rem;
        text-align: center;
    }
        
    
    icon {    
        width: 45px; /* Tamanho fixo dos ícones */
        height: 45px;
        transition: transform 0.3s ease; /* Animação suave */
    }

    .header .social-icons .icon img {
        margin: 7vw 0vw;
        width: 100%;
        height: 100%;
    }

    
    .header .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 10px;
        order: 2; /* Posiciona o logo abaixo dos ícones */
        margin: auto; /* Espaçamento em relação aos ícones */
    }

    .header .logo img {
        margin-top: -70%;
        width: 60px; /* Tamanho fixo da logo */
        height: auto; /* Mantém proporção */
    }

    /* Descrição abaixo da logo */
    .description {
        text-align: center;
        font-size: 5vw; /* Fonte responsiva */
        max-width: 90%; /* Limita a largura da descrição */
        color: #786f44; /* Cor do texto */
        margin: 1% ; /* Espaçamento dinâmico */
        order: 3; /* Posiciona a descrição abaixo da logo */
        top: -6%;
    }



    /* Ajusta os retÃ¢ngulos */
    .data-rectangle {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        text-align: center;
        gap: 30px;
    }

    .data-title {
        order: 1;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .data-text {
        order: 2;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .data-image {
        order: 3;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .data-category {
        order: 4;
        font-size: 0.9rem;
        text-align: center;
    }
}


@media (max-width: 350px) {
    .description {
        text-align: center;
        font-size: 3vw; /* Fonte responsiva */
        max-width: 90%; /* Limita a largura da descrição */
        color: #786f44; /* Cor do texto */
        margin: -1% ; /* Espaçamento dinâmico */
        order: 3; /* Posiciona a descrição abaixo da logo */
        top: -6%;
    }
    
}
